<div class='content-post'>
    <img class='content-post__img' src={{newUrlImage}} alt='AnimeGo'>
    <div class='content-post-description'>
        <a class='content-post-description__a' href={{urlAnime}}{{id}}>{{nameAnime}}</a>
        <span class='content-post-description__span'>{{categoryAnime}} / {{ageAnime}}</span>
        <p class='content-post-description__p'>{{descriptionAnime}}</p>
    </div>
</div>